@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: black;
 
}


@layer base {
  /* Remove scrollbar */
  .remove-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb:hover {
    /* background: #1e2238; */
    background: transparent;
  }
}

/* Custom blinking cursor */
.blinking-cursor::after {
  content: '.';
  animation: blink 1s steps(2, start) infinite;
}
.blinking-dot::after {
  content: '.';
  animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
